/* TODO: Checar se existem trechos reutilizáveis para migrar para shared/css/style.css */
/* TODO: Definir um arquivo compartilhado de reset de componentes CSS */

/* SECTIONS */
section {
  width: 100%;
  height: 100vh;
  opacity: 0;
  display: flex;
  box-sizing: border-box;
  transition: 0.4s;
}

.hero-section {
  padding: 0 1rem;
  justify-content: center;
  align-items: flex-end;

  background: no-repeat top/cover url("assets/images/doom_eternal_banner.png");
}

.presentation-section {
  padding: 0;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    no-repeat top/cover url("assets/images/doom_eternal_banner_alt.jpg");

  text-align: center;
  font-size: 1.5rem;
}

.presentation-section-text {
  padding: 0.5rem;
  width: 50%;
  max-height: 90%;
  box-sizing: border-box;
}

.screenshots-section {
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.slider-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 400%; /* 4 imagens */
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.slider img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.slider-nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}
.slider-nav-button {
  width: 1rem;
  height: 1rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.slider-nav-button:hover {
  background: #fff;
}

.slider-nav-button.active {
  background: #fff; /* Cor do botão ativo */
}

.header-navigation {
  width: 100%;
  height: 3.75rem;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  box-shadow: 0 1rem 2rem #000;
  z-index: 2;
}

.header-navigation-left {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.header-navigation-right {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.doom-series-logo {
  position: relative;
  height: 2rem;
  margin: 0 2rem 0 0;
}

.button-special {
  width: fit-content;
  min-width: 200px;
  height: 4.25rem;
  padding: 1rem;
  margin: 1rem;
  background: #fff;
  opacity: 0.9;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 4px #9f1700;
  transition: 0.4s;
  opacity: 0.9;
}

.button-special:hover {
  color: #fff;
  background: #9f1700;
  img {
    filter: invert(100%);
  }
}

.menu-navigation-logo {
  display: flex;
  height: 3rem;
}
.icon-container {
  width: 1rem;
  height: 100%;
}
.icon-container img {
  height: 1rem;
  margin-top: 1.3rem;
}
.menu-navigation-logo span {
  font-size: 3rem;
  font-weight: 600;
}

.hero-section-buttons img {
  width: 1rem;
  margin: 0 0.5rem 0 0;
  transition: 0.4s;
}

@media screen and (max-width: 768px) {
  .button-special {
    margin: 0.25rem;
  }
  .header-navigation button {
    display: none;
  }

  .presentation-section {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1)),
      no-repeat top/cover url("assets/images/doom_eternal_banner_alt.jpg");
    justify-content: end;
  }

  .presentation-section-text {
    width: 100%;
    font-size: 1rem;
    text-wrap: stable;
    text-align: center;
  }

  .button-special {
    min-width: 230px;
    font-size: 0.9rem;
    text-overflow: clip;
    padding: 0;
  }

  .hero-section-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .slider-nav-button {
    width: 1.25rem;
    height: 1.25rem;
  }
}
